body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #102444;
    color: white;
}

header {
    padding: 1px 0px 1px 0px;
    background-color: #2A398C;
}

ul {
    list-style-type: none;
    padding: 2px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: medium;
}

li {
    margin: 0px 10px;
}

a {
    text-decoration: none;
    transition: color 0.2s;
    color: white;
}

a:hover {
    color: #00b0ff;
}